* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: white;
  background-image: linear-gradient(to bottom right, rgb(60, 0, 60), rgb(31, 1, 86), rgba(0, 0, 0, 0.88));
  background-size: cover;
  background-attachment: fixed;
}

.top-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.panel-right, .panel-left {
  display: flex;
  align-items: center;
}

#city-search {
  margin-left: 2em;
  width: 30vw;
  height: 2.5em;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 5px;
  color: white;
  padding-left: 5px;
  border: 0.5px solid rgb(81, 81, 81);
}

#city-search:focus {
  outline: none;
}

.toggle-unit, .search-button {
  height: 2.5em;
  padding: 0.5em;
  border-radius: 6px;
  border: 0.5px solid rgb(81, 81, 81);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
  font-weight: bold;
  margin-right: 2em;
}

.search-button {
  margin-left: 1em;
}

.top-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, auto));
  background-color: rgba(0, 0, 0, 0.15);
  margin: 0 2em;
  border-radius: 20px;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-card {
  background-color: rgba(62, 62, 62, 0.25);
  padding: 2em;
  margin: 1.5em;
  border-radius: 15px;
}

.city-name {
  margin: 1em 2em;
}

.today-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2em;
}

.temps-row {
  display: flex;
  flex-direction: row;
  margin-left: em;
  padding: 0.5em 0;
}

.future-time {
  margin-right: 2em;
}

.text-section {
  display: flex;
  align-items: center;
}

.weather-icon {
  font-size: 3em;
  margin: 0.5em 0.5em 0.5em 0;
  border: 1px solid rgba(62, 62, 62, 0.7);
  background-color: rgba(62, 62, 62, 0.2);
  padding: 0.3em;
  border-radius: 10px;
}

.today-temp {
  font-size: 3.5em;
}

.min-max {
  display: flex;
  align-items: center;
}

.max {
  padding: 0 15px;
}

.min, .max, .today-date, .future-time, .future-temp, .feels-like-title, .sunrise-sunset-title {
  font-family: monospace;
  color: rgb(150, 150, 150);
}

.future-temps-table {
  margin-right: 2em;
}

.feels-like, .sunrise-sunset {
  font-size: 1.1em;
}

.feels-like-temp {
  margin: 0.6em 0;
}

.feels-like-description {
  font-size: 1em;
  max-width: 200px;
}

.times-section {
  margin: 1.8em 0;
}

.sunrise {
  margin: 1em 0;
}

.sunrise, .sunset {
  font-size: 0.9em;
}